.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main-bg.png') no-repeat 56%/cover;
    padding-top: 216px;
    &__title {
        width: 532px;
        margin-top: 9px;
    }
    &__btns {
        display: flex;
        flex-direction: column;
    }
    &__link {
        display: flex;
        width: 135px;
        height: 45px;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        text-decoration: none;
        margin-top: 20px;
        &:hover {
            color: #000000;
            text-decoration: none;
            background-color: rgba(255, 166, 1, 0.7)
        }
    }
    &__subtitle {
        position: relative;
        margin-left: 10px;
        z-index: 2;
        @include orange_circle;
    }
}