.sidepanel {
    position: fixed;
    top: 150px;
    left: 30px;
    height: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    svg path {
        &:hover{
            fill: $main-color;
            border: 2px solid black;
            transition: 0.7s all;
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-35%,-270%);
        }
    }
}